<%- include('../header') %>
<div class="container mt-5">
<form action="/categorias/nova" method="POST" >
    <div class="form-group">
        <label for="categoria">Categoria</label>
        <input type="text" class="form-control" id="categoria" name="categoria" placeholder="Nome da categoria">
    </div>
    <button type="submit" class="btn btn-success btn-sm">Salvar</button>
</form>
</div>
<%- include('../footer') %>